<%# Links for current user. %>
<nav class='navbar'>
  <div class='navbar-brand'>
    MoneyTree
  </div>
  <div class="navbar-text pull-right">
  
    <% if( current_user and not current_user.is_guest? ) %> 
    
      <%= fa_icon_tag "user" %> Welcome, 
        <strong>
          <%= current_user.user_profile.first_name %>
          <%= current_user.user_profile.last_name %>
        </strong>
      <span class="divider">|</span> 
    <% end %> 
    
    
    <%= link_to "Settings", "#" %>`
  
  </div>
</nav>