<%# Links for current user. %>
<nav class='navbar'>
  <div class='navbar-brand'>
    MoneyTree
  </div>
  <div class="navbar-text pull-right">
  
    <%= fa_icon_tag "user" %> Welcome, <strong><%= current_user.name %></strong>
    <span class="divider">|</span>
    <%= link_to "Settings", "#" %>
  
  </div>
</nav>